@charset "UTF-8";

body{
    background-color: white;
}

h1 {
    text-align: center;
}


/* =========== APRESENTAÇÂO =========== */

#apresentacao h2 {
    text-align: center;
}

#apresentacao {
    background-color: black;
    color: white;
}

#apr-box-1 {
    padding: 30px 5vw;
    display: grid;
    justify-items: center;

    grid-template-columns: 2fr 3fr;
}

#apr-grid-img {
    display: inline;
    margin: auto;
}

#apr-grid-img > img {
    width: auto;
    height: 40vh;
    border-radius: 20px;

}


/* ===== COSTUMES ===== */

#apr-costumes {
    padding: 0px 20px;
    margin: 30px 0px;
    text-align: center;
}

/* ===== FORMAÇÃO ===== */

#apr-formacao{
    padding: 10px;
}

#apr-formacao > h3{
    text-align: center;
}

#apr-form-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#emge{
    padding-right: 15px;
    text-align: right;
}

#guilherme{
    padding-left: 15px;
    text-align: left;
}


/* =========== MEDIA QUERIE =========== */

@media (min-width: 1260px) { /* Desktop ou Notebook */

}

@media (max-width:  1259px){
    #apr-img img {
        width: 20vw;
        height: auto;
    }   

    #apr-box-1 {    
        grid-template-columns: 1fr 4fr;
    }
}

@media(max-width: 989px) { /* Celular ou Tablet */

    /* ===== APRESENTAÇÂO ===== */

    #apr-grid-img img {
        height: auto;
        width: 80vw;
    }
    #apr-box-1{
        padding: 30px 50px;
        grid-template-columns: 1fr;
    }


}